body{
    width: 100%;
    height: 100vh;
    background: #47321d;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.title span{
    color: #ffe74b;
}
.wrap img{
    width: 300px;
    height: 300px;
    border: 6px solid #ffe74b;
    object-fit: cover;
    border-radius: 50%;

}
.content{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn{
    padding: 9px;
    background: #ffe74b;
    border: 1px solid #ffe74b;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    color: #47321d;
    font-weight: bold;
}
.btn:hover{
    background: #ebd129;
    border: 1px solid #ebd129;
    cursor: pointer;
    

}


/* 
.box{
    width: 100%;
    height: 200px;
    background: lightcoral;
}
.box2{
    width: 500px;
    height: 500px;
    background: lightblue;
    text-align: center;
    line-height: 100px;
} */
